a, a:hover {
    text-decoration: none
}
h1, h1 a {
    color: #FFF
}
#nav, h1 {
    text-align: center
}
#nav li:last-child a, img {
    border: 0
}
*, ::after, ::before {
    box-sizing: inherit
}
html {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent
}
body, div, fieldset, figcaption, figure, form, h1, h2, h3, h4, h5, h6, input, legend, ol, p, select, td, textarea, th, ul {
    margin: 0;
    padding: 0
}
body {
    font-family: "helvetica neue", "hiragino sans gb", tahoma, "microsoft yahei ui", "microsoft yahei", simsun, sans-serif;
    color: #777;
    font-size: .8rem;
    background: #f8f8f8
}
a:focus {
    -webkit-outline: none;
    -moz-outline: none;
    outline: 0
}
cite, em, i {
    font-style: normal
}
li {
    list-style: none
}
img {
    vertical-align: middle
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
p {
    white-space: normal;
    word-break: break-all;
    line-height: 1.1rem;
    margin-top: 8px
}
h1 {
    font-size: 1.2rem;
    font-weight: 400;
    background: #000;
    height: 50px;
    line-height: 50px
}
strong {
    font-size: 1.1rem;
    display: block;
}
#nav {
    height: 40px;
    background: #EBEBEB;
    color: #000;
    font-size: 1rem;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -js-display: flex;
    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    align-items: stretch;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    align-content: stretch;
    -webkit-align-content: stretch;
    -moz-align-content: stretch
}
dl.ls1 div cite, dl.ls2 div, dl.ls3 div cite:nth-child(3), dl.ls4 div cite:nth-child(3), div.ls5 div {
    text-align: right
}
#nav li {
    flex: 1
}
#nav li.on {
    font-weight: 700
}
#nav li a {
    color: #333;
    border-right: 1px solid #BEBEBE;
    display: block;
    margin: 10px 0;
    height: 19px;
    line-height: 19px
}
dl.ls1 div.colum2, dl.ls1 div {
    display: -webkit-flex;
    display: -moz-flex;
    flex-flow: row nowrap;
    align-content: stretch
}
div.ads {
    border: 1px solid #ccc;
    margin: 12px 8px;
    padding: 10px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px
}
dl.ls1, dl.ls2, div.ls5 {
    background: #FFF;
    box-shadow: 0 0 3px #BEBEBE
}
dl.ls1 strong, dl.ls2 strong, div.ls5 strong {
    color: #333333;
    padding-bottom: 8px;
    display:inline-block;
}
dl.ls1 div {
    display: flex;
    -js-display: flex;
    -webkit-flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    align-items: stretch;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    -webkit-align-content: stretch;
    -moz-align-content: stretch;
    border-bottom: 1px dashed #F60;
    line-height: 35px
}
dl.ls1 div cite img {
    width: 100px;
    height: 30px
}
dl.ls1 div.colum2 {
    display: flex;
    -js-display: flex;
    -webkit-flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    align-items: stretch;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    -webkit-align-content: stretch;
    -moz-align-content: stretch
}
dl.ls2, dl.ls3 div, dl.ls4 div, div.ls5 {
    display: -webkit-flex;
    display: -moz-flex;
    align-content: stretch
}
dl.ls1 div.colum2 cite img {
    margin: 8px 0 0 8px;
    width: 100px;
    height: 100px
}
dl.ls2, div.ls5 {
    display: flex;
    -js-display: flex;
    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    align-items: stretch;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    -webkit-align-content: stretch;
    -moz-align-content: stretch
}
dl.ls2 div, div.ls5 div {
    flex: 3
}
dl.ls2 div, div.ls5 div {
    flex: 1
}
dl.ls2 div cite img {
    margin: 0 0 0 8px;
    width: 100px
}
div.ls5 div {
    flex: 2 1 100%
}
div.ls5 div {
    flex: 1 1 auto;
    text-align: left;
}
div.ls3, dl.ls4 {
    border: 1px solid #D4CCDA;
    background: #E2DAE7;
    color: #000
}
dl.ls3 div div p:nth-child(2), dl.ls3 div div strong, dl.ls4 div div p span {
    color: #00004d
}
dl.ls3 div, dl.ls4 div {
    display: flex;
    -js-display: flex;
    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    align-items: stretch;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    -webkit-align-content: stretch;
    -moz-align-content: stretch;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 15px
}
dl.ls3 div cite, dl.ls4 div cite {
    flex: 1
}
dl.ls3 div cite:nth-child(1), dl.ls4 div cite:nth-child(1) {
    margin-right: 10px
}
dl.ls3 div cite:nth-child(1) img, dl.ls4 div cite:nth-child(1) img {
    width: 75px;
    height: 95px
}
dl.ls3 div cite:nth-child(3), dl.ls4 div cite:nth-child(3) {
    margin-left: 10px;
    text-align: right
}
dl.ls3 div cite:nth-child(3) img, dl.ls4 div cite:nth-child(3) img {
    width: 75px;
    height: 75px
}
dl.ls3 div div, dl.ls4 div div {
    flex: 2
}
dl.ls3 div div strong, dl.ls4 div div strong {
    margin-bottom: 10px
}
dl.ls3 div div p, dl.ls4 div div p {
    margin-top: 1px
}
dl.ls3 div, dl.ls4 div {
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -js-display: flex;
    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    align-items: stretch;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    align-content: stretch;
    -webkit-align-content: stretch;
    -moz-align-content: stretch;
    padding-top: 12px
}
dl.ls3 div cite, dl.ls4 div cite {
    flex: 1
}
dl.ls3 div cite:nth-child(3) img, dl.ls4 div cite:nth-child(3) img {
    width: 85px;
    height: 20px
}
dl.ls3 div div, dl.ls4 div div {
    flex: 3;
    font-size: .6rem
}
dl.ls3 div div p, dl.ls4 div div p {
    margin: 0
}
dl.ls3 div div p {
    margin-top: 3px
}
dl.ls3 div p {
    line-height: .8rem
}
dl.ls3 div cite img {
    width: 75px;
    height: 35px
}
dl.ls4 {
    background: #D7D7D7;
    border: #B4B3B8
}
dl.ls4 div cite {
    flex: 1
}
dl.ls4 div cite:nth-child(1) {
    flex: .7;
    text-align: left;
    text-indent: 15px;
    background: url(../imgs/mappoint.png) 0 2px no-repeat;
    background-size: 12px 15px
}
dl.ls4 div div {
    flex: 1;
    font-size: .8rem
}
dl.ls4 div div p {
    text-align: left
}
div cite img.profilePic {
    position: relative;
    width: 70px;
    height: 70px;
    float: left;
    margin: 0em 1em 1em 0em;
}
div cite img.logo {
    position: relative;
    float: right;
    height: 1.5em;
    margin: 0em 1em 1em 0em;
    display:inline-block;
}
p.summary{
    height: 2.5em;
    overflow-y: hidden;
}
p.email{
    display: inline-block;
    font-size: 0.9em;
}
p.contact{
    display: inline-block;
    font-size: 0.9em;
    margin-right: 2em;
}
button.seeDetail{
    margin-top: 0.7em;
    float: right;
    background: #fff;
    border-style: solid;
    border-color: red;
    color: red;
    border-width: 1px;
    font-weight: lighter;
}
strong.title{
    color: #333333;
}
.ads-onpage{
    margin:1em 1em 1em 1em;
}
.article-profile{
    width: 80px;
    height: 80px;
    margin:0 10px 10px 0;
    display: inline-block;
    float: left;
}
.article-logo{
    height: 80px;
    margin:0px 0px 10px 10px;
    display: inline-block;
    float: right;
}
.article-header{
    height: 85px;
}
.article-footer h2{
    color: #FF9F33;
    font-weight: lighter;
    font-size: 16px;
}
.article-footer p{
    font-size: 12px;
    font-family: sans-serif;
    color:#000;
}
.article-footer img{
    width: 140px;
    height:140px;
    float: right;
    padding-left: 10px;
}
article.ads{
    margin-bottom: 2em;
    margin-top: 2em;
    font-size: 16px;
}
.article-content h1.article-title{
    color: #180A8C;
    background:#f8f8f8;
    height: 1.5em;
    text-align: left;
}
